{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block meta %}

<title>TURKAB - Başkanın Mesajı</title>
<meta name="description" content="TURKAB, Türk Kadın Akademisyenler Birliğinin Başkanının Mesajıdır.">

{% endblock %}

{% block body %}

<br><br>
<section class="urgent-causes-area ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding pdb55">
            <h2><span> </span> Başkanın Mesajı</h2>
        </div>
  <div>{{ baskanmesaji.baskan_mesaji | safe }}</div>
    </div>
</section><!--/.urgent-causes-area-->

<br><br>

{% endblock %}
