{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block body %}

<br><br>
<section class="urgent-causes-area ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding pdb55">
            <h2><span> Sözleşme</span> Birlik Sözleşmesi</h2>
        </div>
        
        <p>Türk Kadın Akademisyenler Birliği, vakıf kuruluş aşamasına kadar birlik olarak
                faaliyetlerini yürütecektir.</p>

        <p>Birliğe gönül veren herkes bu sözleşme ile belirtilen hususları kabul etmiş sayılır.</p>

        <p>1) Türk Kadın Akademisyenler Birliğine katılan her üye gönüllülük esası üzerinden
                hareket eder.</p>

        <p>2) Birlik, yaptığı her faaliyette toplum yararını göz önünde bulundurur ve akademik
                hayata katkı sağlamak için çalışır. Birlik içerisinde yer alan her katılımcı da kendi imkân ve
                alanı doğrultusunda akademik hayata ve topluma katkı sağlama gayesi ile Birlik’te yer almayı
                kabul eder.</p>

        <p>3) Birlik içerisinde yer alan her katılımcı; Birliğin Görev ve Hedefine uygun
                davranmayı kabul eder.</p>
<br>
        <p style="text-align: end;">Türk Kadın Akademisyenler Birliği</p>
        <p style="text-align: end;">Yönetim Kurulu</p>
    </div>
</section><!--/.urgent-causes-area-->

<br><br>

{% endblock %}
