{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block body %}


<div class="blog-list-body mt100 pdb90">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 style="padding-bottom : 20px; text-align: center;">Duyurularımız</h2>
                    
                    {% for duyuru in duyurular %}
                    <div class="col-md-12">
                        <div class="news-item">
                        
                            <div class="news-text">
                                <h3><a href="{% url 'duyurudetay' duyuruslug=duyuru.duyuru_slug %}">{{ duyuru.duyuru_name }}</a></h3>
                                <p>{{ duyuru.duyuru_icerik |safe|truncatechars_html:400|linebreaks }}</p>
                            </div>
                            <a href="{% url 'duyurudetay' duyuruslug=duyuru.duyuru_slug %}" class="read-more-icon"><span>+</span></a>
                        </div><!--/.news-item-->
                    </div>
                    {% endfor %}

                    <ul class="sune-pagination">

                    {% if duyurular.has_previous %}
                        <li><a href="?page={{ duyurular.previous_page_number }}"><i class="fa fa-long-arrow-left"></i>Önceki</a></li>
                    {% endif %}

                    {% for i in duyurular.paginator.page_range %}
                        <li><a href="?page={{i}}" class="{% if i == duyurular.number %}active{% endif %}">{{i}}</a></li>
                    {% endfor %}

                        {% if duyurular.has_next %}
                        <li><a href="?page={{ duyurular.next_page_number }}">Sonraki<i class="fa fa-long-arrow-right"></i></a></li>
                        {% endif %}

                    </ul>


                </div>
                <div class="col-md-3">
                    <div class="sidebar">

                        <aside class="blog-page-popular-post">
                            <div class="border-heading">
                                <h4>Son Duyurularımız</h4>
                            </div>
                            <div class="row">
                                
                                {% for duyuru in ucduyuru %}
                                    <div class="col-md-12">
                                        <div class="news-item">
                                        
                                            <div class="news-text">
                                                <h3><a href="{% url 'duyurudetay' duyuruslug=duyuru.duyuru_slug %}">{{ duyuru.duyuru_name }}</a></h3>
                                                <p>{{ duyuru.duyuru_icerik |safe|truncatechars_html:400|linebreaks }}</p>
                                            </div>
                                            <a href="{% url 'duyurudetay' duyuruslug=duyuru.duyuru_slug %}" class="read-more-icon"><span>+</span></a>
                                        </div><!--/.news-item-->
                                    </div>
                                {% endfor %}
                        
                            </div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}