{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block meta %}

<title>TURKAB - Eğitimler</title>
<meta name="description" content="TURKAB, Türk Kadın Akademisyenler Birliği tarafından verilen eğitimler listelenmektedir.">

{% endblock %}

{% block body %}

<div class="blog-list-body mt100 pdb90">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <h2 style="padding-bottom : 20px; text-align: center;">Eğitimlerimiz</h2>
                    
                    {% for egitim in egitimler %}
                        <div class="blog-list-item">
                            <div class="image">
                                <img src="{% static 'mainapp/images/turkab-detail-resim.png' %}" class="img-responsive" alt="blog image">
                            </div>
                            <div class="meta-box">
    
                            </div>
                            <div class="blog-list-text">
                                <h3><a href="{% url 'egitimdetay' egitimslug=egitim.egitim_slug %}">{{ egitim.egitim_name }}</a></h3>
                                <p>{{ egitim.egitim_icerik |safe|truncatechars_html:400|linebreaks }}</p>
                                <a href="{% url 'egitimdetay' egitimslug=egitim.egitim_slug %}" class="blog-read-more-button">Daha Fazlası <i class="ion-android-arrow-forward"></i></a>
                            </div>
                        </div><!--/.blog-list-item-->
                    {% endfor %}


                    <ul class="sune-pagination">

                    {% if egitimler.has_previous %}
                        <li><a href="?page={{ egitimler.previous_page_number }}"><i class="fa fa-long-arrow-left"></i>Önceki</a></li>
                    {% endif %}

                    {% for i in egitimler.paginator.page_range %}
                        <li><a href="?page={{i}}" class="{% if i == egitimler.number %}active{% endif %}">{{i}}</a></li>
                    {% endfor %}

                        {% if egitimler.has_next %}
                        <li><a href="?page={{ egitimler.next_page_number }}">Sonraki<i class="fa fa-long-arrow-right"></i></a></li>
                        {% endif %}

                    </ul>


                </div>
                <div class="col-md-3">
                    <div class="sidebar">

                        <aside class="blog-page-popular-post">
                            <div class="border-heading">
                                <h4>Son Eğitimlerimiz</h4>
                            </div>
                            <div class="row">
                                
                                {% for egitim in ucegitim %}
                                <div class="col-md-12">
                                    <div class="popular-post">
                                        <div class="image">
                                            <img src="{% static 'mainapp/images/turkab-ucresim-detay.png' %}" class="img-responsive" alt="causes">
                                        </div>
                           
                                        <h5><a href="{% url 'egitimdetay' egitimslug=egitim.egitim_slug %}">{{ egitim.egitim_name }}</a></h5>
                                        <p>{{ egitim.egitim_icerik |safe|truncatechars_html:50|linebreaks }}</p>
                                    </div><!--/.popular-post -->
                                </div>
                                {% endfor %}
                        
                            </div>
                        </aside>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}