{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block body %}

<section class="banner-area">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="banner-title">
                   <h1>Bize Ulaşın<span>TÜRKAB'a Ulaşın</span></h1>
               </div>
               <ul class="bread-crumb">
                   <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
                   <li><a href="{% url 'iletisim' %}" class="active orange">İletişim</a></li>
               </ul>
           </div>
       </div>
   </div>
</section><!--.banner-area-->
<div class="contact-page-body pdt100 ash-white-bg pdb90">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="contact-us">
                   <div class="contact-detail text-center">
                       <div class="single-information">
                           <div class="icon">
                             <i class="fa fa-mobile"></i>
                           </div>
                           <span class="orange">Telefon</span>
                           <span class="mobile-number">+11 (01) 987546</span>
                       </div>
                       <div class="single-information">
                           <div class="icon">
                             <i class="fa fa-address-card"></i>
                           </div>
                           <span class="orange">E-Mail</span>
                           <span class="eamil-id">info@turkaborg.tr</span>
                       </div>
                       <div class="single-information">
                           <div class="icon">
                             <i class="fa fa-map-marker"></i>
                           </div>
                           <span class="orange">Adres</span>
                           <span  class="current-address">Deneme Mahallesi, Deneme Caddesi No 12 Kadıköy/İstanbul</span>
                       </div>
                   </div>
                   <div class="google-maps-area">
                       <div class="google-maps" style="overflow: hidden;" id="footer-map-canvas">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d752.9788579442302!2d29.021975335028323!3d40.983332606387854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab85fdfa2bf57%3A0x152520e3b263b6c6!2sIstanbul+Kad%C4%B1k%C3%B6y+High+School!5e0!3m2!1sen!2str!4v1561386073380!5m2!1sen!2str" width="80%" height="700" frameborder="0" style="border:0" allowfullscreen></iframe>

                       </div>
                         <ul class="colorfull-social-icon">
                              <li><a href="#" class="facebook-icon"><i class="fa fa-facebook"></i></a></li>
                              <li><a href="#" class="twitter-icon"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#" class="google-icon"><i class="fa fa-google"></i></a></li>
                          </ul>
                   </div>
               </div>
               <div class="comment-box text-center">
                   <div class="border-heading">
                       <h4>BİZE ULAŞIN</h4>
                   </div>
                   <form method="POST">
                     {% csrf_token %}
                       <div class="row">
                           <div class="col-sm-6 name-parent">
                               <div class="single-input-box">
                                   <input class="form-control" name="adsoyad" placeholder="Ad-Soyad" type="text">
                               </div>
                           </div>
                           <div class="col-sm-6 email-parent">
                               <div class="single-input-box">
                                   <input class="form-control" name="iletisimbilgisi" placeholder="İletişim Bilgisi(email, telefon vb.)" type="text">
                               </div>
                           </div>
                       </div>
                       <div class="single-input-box">
                           <textarea name="mesaj" class="form-control" placeholder="Mesajınız"></textarea>
                       </div>
                       <button class="sune-btn" type="submit">Gönder</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
</div>


{% endblock %}
