{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block meta %}

<title>TURKAB - İletişim</title>
<meta name="description" content="TURKAB, Türk Kadın Akademisyenler Birliğine ulaşılabilecek iletişim sayfasıdır.">

{% endblock %}

{% block body %}

<section class="banner-area">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="banner-title">
                   <h1>Bize Ulaşın<span>TÜRKAB'a Ulaşın</span></h1>
               </div>
               <ul class="bread-crumb">
                   <li><a href="{% url 'index' %}">Ana Sayfa</a></li>
                   <li><a href="{% url 'iletisim' %}" class="active orange">İletişim</a></li>
               </ul>
           </div>
       </div>
   </div>
</section><!--.banner-area-->
<div class="contact-page-body pdt100 ash-white-bg pdb90">
   <div class="container">
       <div class="row">
           <div class="col-md-12">

               <div class="comment-box text-center">
                   <div class="border-heading">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-success">{{message}}</div>
                            {% endfor %}
                        {% endif %}
                       <h4>BİZE ULAŞIN</h4>
                   </div>
                   <form method="POST">
                     {% csrf_token %}
                       <div class="row">
                           <div class="col-sm-6 name-parent">
                               <div class="single-input-box">
                                   <input class="form-control" name="adsoyad" placeholder="Ad-Soyad" type="text">
                               </div>
                           </div>
                           <div class="col-sm-6 email-parent">
                               <div class="single-input-box">
                                   <input class="form-control" name="iletisimbilgisi" placeholder="İletişim Bilgisi(email, telefon vb.)" type="text">
                               </div>
                           </div>
                       </div>
                       <div class="single-input-box">
                           <textarea name="mesaj" class="form-control" placeholder="Mesajınız"></textarea>
                       </div>
                       <button class="sune-btn" type="submit">Gönder</button>

                   </form>
               </div>
           </div>
       </div>
   </div>
</div>


{% endblock %}
