{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block body %}

<section class="slider-area">
    <div class="slider-carousel">
        <div class="single-item">
            <img src="{% static 'mainapp/images/turkab-dernek-slider-1.png' %}" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Akademisyenler Birliği
                       <span class="subheading">Türk Kadın Akademisyenler Birliği</span></span></h1>
                        <p>TÜRKAB, Türkiye Cumhuriyeti Devleti’nin temel ilkelerine bağlı, devletine, milletine ve insanlığa hizmet etmeyi gaye edinen kadın akademisyenlerin oluşturduğu bir sivil toplum kuruluşudur.</p>
                        <a href="#" class="more-stories">Daha Fazlası <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->
        <div class="single-item">
            <img src="{% static 'mainapp/images/turkab-slider-2.png' %}" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Akademisyenler Birliği
                       <span class="subheading">Türk Kadın Akademisyenler Birliği</span></span></h1>
                        <p> Türk Kadın Akademisyenler Birliği, Türk milletinin mensubu olmaktan gurur duyan ve bu mensubiyeti sahip olduğu farklı bilimsel yetkinlikler ile birleştirici-bütünleştirici bir ruh olarak kabul edip ülke menfaatleri doğrultusunda geliştirmeyi gaye edinen kadın akademisyenlerin kurduğu bir oluşumdur.</p>
                        <a href="#" class="more-stories">Daha Fazlası <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->

    </div>
</section>
<section class="urgent-causes-area ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding pdb55">
            <h2><span> TÜRK KADIN AKADEMİSYENLER BİRLİĞİ</span>HAKKIMIZDA</h2>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="urgent-causes">
                    <h3>BİZ KİMİZ?</h3>
                    <p>
                        TÜRKAB, Türkiye Cumhuriyeti Devleti’nin temel ilkelerine bağlı, devletine, milletine ve insanlığa hizmet etmeyi gaye edinen kadın akademisyenlerin oluşturduğu bir sivil toplum kuruluşudur. Birlik, Türk akademi dünyasında yer alan kadınlarımızın sahip olduğu bilimsel, sosyal ve kültürel yetkinlikleri ülke ihtiyaçları ve ilkelerimiz doğrultusunda kamu yararını gözeterek fayda üreten bir kaynağa dönüştürmeyi, disiplinlerarası bilimsel birikimi toplum yararına sunma konusunda sürekli yeni yollar geliştirmeyi ve dünyadaki Türk kadın akademisyenler arasındaki bağı güçlendirmeyi esas almıştır.
                    </p>
                    <div class="collection-rate">


                        <div class="clear"></div>
                    </div>
                    <a href="#" class="sune-btn orange-bg">Daha Fazlası <i class="ion-android-arrow-forward"></i></a>
                    <a href="#" class="sune-btn black-bg">Üyelerimiz <i class="ion-android-arrow-forward"></i></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="urgent-causes-image">
                    <div class="images big-image">
                        <img src="{% static 'mainapp/images/home/3.jpg' %}" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images middum-image">
                        <img src="{% static 'mainapp/images/home/2.jpg' %}" class="img-responsive img-circle" alt="causes">
                    </div>
                    <div class="images small-image">
                        <img src="{% static 'mainapp/images/home/4.jpg' %}" class="img-responsive img-circle" alt="causes">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.urgent-causes-area-->
<section class="get-envolved-area">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>WANT TO HELP OTHERS</span>GET INVOLVED</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="get-envolved-item first-item">
                    <div class="envolped-top">
                        <div class="text"><span>DONATE</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">BECOME A DONATOR</a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
            <div class="col-md-4">
                <div class="get-envolved-item second-item">
                    <div class="envolped-top">
                        <div class="text"><span>FUNDRAISE</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">BECOME A DONATOR</a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
            <div class="col-md-4">
                <div class="get-envolved-item third-item">
                    <div class="envolped-top">
                        <div class="text"><span>VOLUNTEER</span></div>
                    </div>
                    <div class="content">
                        <h3><a href="#">BECOME A DONATOR</a></h3>
                        <p>Nam sollicitudin libero eu diam faucibus, sit amet hendrerit scelerisqususcipit.</p>
                    </div>
                </div><!--/.get-envolved-item-->
            </div>
        </div>
    </div>
</section><!--/.get-envolved-area-->
<section class="recent-causes-area ash-white-bg">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>LEARN MORE ABOUT OUR</span>RECENT CAUSES</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="recent-causes-item">
                      <div id="progress" class="colorfull-progress-active causes-item1" data-dimension="200" data-text="" data-percent="65" data-fgcolor="#48A4AA" data-bgcolor="transparent" data-width="10" data-bordersize="10" data-animationstep="2"></div>
                     <div class="raised-targent"><span>RAISED: $764</span><span class="pull-right">TARGET: $1500</span></div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">CONNECTING THE PEOPLE</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                         <a href="#" class="sune-btn orange-bg">DONATE <i class="fa fa-heart"></i></a>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                     <div id="progress2" class="colorfull-progress-active causes-item2" data-dimension="200" data-text="" data-percent="65" data-fgcolor="#48A4AA" data-bgcolor="transparent" data-width="10" data-bordersize="10" data-animationstep="2"></div>
                     <div class="raised-targent"><span>RAISED: $764</span><span class="pull-right">TARGET: $1500</span></div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">CONNECTING THE PEOPLE</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                         <a href="#" class="sune-btn orange-bg">DONATE <i class="fa fa-heart"></i></a>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
            <div class="col-md-4">
                <div class="recent-causes-item">
                     <div id="progress3" class="colorfull-progress-active causes-item3" data-dimension="200" data-text="" data-percent="65" data-fgcolor="#48A4AA" data-bgcolor="transparent" data-width="10" data-bordersize="10" data-animationstep="2"></div>
                     <div class="raised-targent"><span>RAISED: $764</span><span class="pull-right">TARGET: $1500</span></div>
                     <div class="recent-causes-text text-center">
                         <h3><a href="#">CONNECTING THE PEOPLE</a></h3>
                         <p>Nam sollicitudin libero eudiam faucibus sit amet hendrerit sceleris qususci pitsit amethe ndrerit scelerisqususcipit.</p>
                         <a href="#" class="sune-btn orange-bg">DONATE <i class="fa fa-heart"></i></a>
                     </div>
                </div><!--/.recent-causes-item-->
            </div>
        </div>
        <div class="all-causes-page text-center ">Do you want learn more about our all causes. Please visit <a href="#">all causes page</a>.</div>
    </div>
</section><!--/.recent-causes-area-->
<section class="upcaming-event-area">
    <div class="container">
         <div class="section-heading section-padding">
             <h2><span>KNOW AND COME TO JOIN OUR</span>UPCOMING EVENTS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img src="{% static 'mainapp/images/home/8.jpg' %}" class="img-responsive" alt="upcomming">
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-one-counter"></div>
                        </div>
                    </div>
                    <div class="event-place-ticket">
                        <div class="place">
                            <strong>PLACE:</strong>
                            EASTER COAST HOTEL, CA
                        </div>
                        <div class="ticket">
                            <strong>TICKET:</strong>
                            FREE OF COST
                        </div>
                        <div class="clear"></div>
                    </div>
                </div><!--/.upcomming-event-item-->
            </div>
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img src="{% static 'mainapp/images/home/9.jpg' %}" class="img-responsive" alt="upcomming">
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-two-counter"></div>
                        </div>
                    </div>
                    <div class="event-place-ticket">
                        <div class="place">
                            <strong>PLACE:</strong>
                            EASTER COAST HOTEL, CA
                        </div>
                        <div class="ticket">
                            <strong>TICKET:</strong>
                            FREE OF COST
                        </div>
                        <div class="clear"></div>
                    </div>
                </div><!--/.upcomming-event-item-->
            </div>
            <div class="col-md-4">
                <div class="upcomming-event-item">
                    <div class="image">
                        <img src="{% static 'mainapp/images/home/10.jpg' %}" class="img-responsive" alt="upcomming">
                        <span><i class="ion-android-arrow-forward"></i></span>
                    </div>
                    <div class="event-text text-center">
                        <h3><a href="#">CHILDREN OF SOCIETY</a></h3>
                        <p>Estibulum at maximus neque. Etiam interdum fermentum dolor, eget placerat lorem.</p>
                        <div class="event-counter">
                            <div id="event-three-counter"></div>
                        </div>
                    </div>
                    <div class="event-place-ticket">
                        <div class="place">
                            <strong>PLACE:</strong>
                            EASTER COAST HOTEL, CA
                        </div>
                        <div class="ticket">
                            <strong>TICKET:</strong>
                            FREE OF COST
                        </div>
                        <div class="clear"></div>
                    </div>
                </div><!--/.upcomming-event-item-->
            </div>
        </div>
        <div class="all-causes-page text-center ">Do you want learn more about our all causes. Please visit <a href="#">all events page</a>.</div>
    </div>
</section><!--/.upcaming-event-area-->
<section class="deference-making-area ash-white-bg">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-lg-6 pdr0 pdl0">
                <div class="image">
                    <img src="{% static 'mainapp/images/home/11.jpg' %}" class="img-responsive" alt="makigng deference">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="diference-making-text">
                    <h2>DIFFERENCE WE ARE MAKING</h2>
                    <p>Pellentesque sollicitudin fringilla orci, ullamcorper ultrices sapien elementum facilisis. Mauris dictum metus sed libero egestas, ut hendrerit massa gravida.</p>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="deference-making-item">
                                <div class="icon">
                                    <img src="{% static 'mainapp/images/home/icon/4.png' %}" alt="icon">
                                </div>
                                <div class="text">
                                    <span class="orange">$8765</span>
                                    People Contribution
                                </div>
                                <div class="clear"></div>
                            </div><!--/.deference-making-item-->
                        </div>
                        <div class="col-xs-4">
                            <div class="deference-making-item">
                                <div class="icon">
                                    <img src="{% static 'mainapp/images/home/icon/5.png' %}" alt="icon">
                                </div>
                                <div class="text">
                                    <span class="orange">5847</span>
                                    Volunteer Reached
                                </div>
                                <div class="clear"></div>
                            </div><!--/.deference-making-item-->
                        </div>
                        <div class="col-xs-4">
                            <div class="deference-making-item">
                                <div class="icon">
                                    <img src="{% static 'mainapp/images/home/icon/6.png' %}" alt="icon">
                                </div>
                                <div class="text">
                                    <span class="orange">54</span>
                                    Successful Project
                                </div>
                                <div class="clear"></div>
                            </div><!--/.deference-making-item-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/.deference-making-area-->
<section class="recent-news-area">
    <div class="container">
        <div class="section-heading section-padding">
             <h2><span>READ OUR EXCITING</span>RECENT NEWS</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">
                        <img src="{% static 'mainapp/images/home/12.jpg' %}" class="img-responsive" alt="news">
                        <div class="news-date-circle">
                             <span>4</span>
                            February
                            2017
                        </div>
                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>
                        <span class="yellow-bg author-name">admin</span>
                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">
                        <img src="{% static 'mainapp/images/home/13.jpg' %}" class="img-responsive" alt="news">
                        <div class="news-date-circle">
                            <span>4</span>
                            February
                            2017
                        </div>
                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>
                        <span class="yellow-bg author-name">admin</span>
                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
            <div class="col-md-4">
                <div class="news-item">
                    <div class="image">
                        <img src="{% static 'mainapp/images/home/14.jpg' %}" class="img-responsive" alt="news">
                        <div class="news-date-circle">
                            <span>4</span>
                            February
                            2017
                        </div>
                    </div>
                    <div class="news-text">
                        <h3><a href="#">The Fisher House Child</a></h3>
                        <span class="yellow-bg author-name">admin</span>
                        <p>Donec venenatis metus at diam condimentum pretium. Integer aliquet a turpis.</p>
                    </div>
                    <a href="#" class="read-more-icon"><span>+</span></a>
                </div><!--/.news-item-->
            </div>
        </div>
    </div>
</section><!--/.recent-news-area-->


{% endblock %}
