{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block meta %}

<title>TURKAB - Ana Sayfa </title>
<meta name="description" content="TURKAB, Türk Kadın Akademisyenler Birliğinin {{ egitim.egitim_name }} egitimini açıklayan sayfadır.">

{% endblock %}

{% block body %}

<section class="slider-area">
    <div class="slider-carousel">
        <div class="single-item">
            <img src="{% static 'mainapp/images/turkab-slider-1.png' %}" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Akademik Birikim TÜRKKAB'da Buluştu
                        <!--
                       <span class="subheading">Türk Kadın Akademisyenler Birliği</span>
                        -->
                        </span></h1>
                        <p>TÜRKKAB, Türkiye Cumhuriyeti Devleti’nin temel ilkelerine bağlı, devletine, milletine ve insanlığa hizmet etmeyi gaye edinen kadın akademisyenlerin oluşturduğu bir sivil toplum kuruluşudur.</p>
                        <a href="#" class="more-stories">Daha Fazlası <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->
        <div class="single-item">
            <img src="{% static 'mainapp/images/turkab-slider-2.png' %}" alt="First slide">
           <div class="overlay"></div>
            <div class="container-parent">
                <div class="container">
                    <div class="sune-carousel-caption">
                       <h1>
                       <span class="everyone">Akademisyenler Birliği
                       <span class="subheading">Türk Kadın Akademisyenler Birliği</span></span></h1>
                        <p> Türk Kadın Akademisyenler Birliği, Türk milletinin mensubu olmaktan gurur duyan ve bu mensubiyeti sahip olduğu farklı bilimsel yetkinlikler ile birleştirici-bütünleştirici bir ruh olarak kabul edip ülke menfaatleri doğrultusunda geliştirmeyi gaye edinen kadın akademisyenlerin kurduğu bir oluşumdur.</p>
                        <a href="#" class="more-stories">Daha Fazlası <i class="ion-android-arrow-forward"></i></a>
                    </div>
                </div>
            </div>
        </div><!--/.single-item -->

    </div>
</section>


    <section class="recent-news-area">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    
                    <div class="section-heading section-padding">
                        <h2><span>Son Gelişmeler</span>Son Haberler</h2>
                    </div>

                    <div class="row">
                        {% for haber in uchaber %}
                            <div class="col-md-12">
                                <div class="news-item">
                            
                                    <div class="news-text">
                                        <h3><a href="{% url 'haberdetay' haberslug=haber.haber_slug %}">{{ haber.haber_name | truncatechars_html:100 }}</a></h3>
                                        <p>{{ haber.haber_icerik |safe|truncatechars_html:200|linebreaks }}</p>
                                    </div>
                                    <a href="{% url 'haberdetay' haberslug=haber.haber_slug %}" class="read-more-icon"><span>+</span></a>
                                </div><!--/.news-item-->
                            </div>
                        {% endfor %}
                        <div class="all-causes-page text-center ">Tüm <a href="{% url 'haberler' %}">Haberlerimize Buradan </a>Ulaşabilirsiniz.</div>
                    </div>
                </div>

                <div class="col-md-6">

                        <div class="section-heading section-padding">
                            <h2><span>Son Gelişmeler</span>Son Duyurular</h2>
                        </div>

                        <div class="row">
                            {% for duyuru in ucduyuru %}    
                                <div class="col-md-12">
                                    <div class="news-item">
                                
                                        <div class="news-text">
                                            <h3><a href="{% url 'duyurudetay' duyuruslug=duyuru.duyuru_slug %}">{{ duyuru.duyuru_name | truncatechars_html:100 }}</a></h3>
                                            <p>{{ duyuru.duyuru_icerik |safe|truncatechars_html:200|linebreaks }}</p>
                                        </div>
                                        <a href="{% url 'duyurudetay' duyuruslug=duyuru.duyuru_slug %}" class="read-more-icon"><span>+</span></a>
                                    </div><!--/.news-item-->
                                </div>
                            {% endfor %}
                            <div class="all-causes-page text-center ">Tüm <a href="{% url 'duyurular' %}">Duyurularımıza Buradan </a>Ulaşabilirsiniz.</div>
                        </div>
                    </div>
            </div>


        </div>
    </section><!--/.recent-news-area-->


    
    <section class="recent-news-area">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    
                    <div class="section-heading section-padding">
                        <h2><span>Yayınlarımız</span>Bizim Köşemiz</h2>
                    </div>

                    <div class="row">
                        {% for etkinlik in ucyayin %}
                            <div class="col-md-12">
                                <div class="news-item">
                            
                                    <div class="news-text">
                                        <h3><a href="{% url 'etkinlikdetay' etkinlikslug=etkinlik.etkinlik_slug %}">{{ etkinlik.etkinlik_name }}</a></h3>
                                        <p>{{ etkinlik.etkinlik_icerik |safe|truncatechars_html:400|linebreaks }}</p>
                                    </div>
                                    <a href="{% url 'etkinlikdetay' etkinlikslug=etkinlik.etkinlik_slug %}" class="read-more-icon"><span>+</span></a>
                                </div><!--/.news-item-->
                            </div>
                        {% endfor %}
                        <div class="all-causes-page text-center ">Tüm <a href="{% url 'etkinlikler' %}">Yayınlarımıza Buradan </a>Ulaşabilirsiniz.</div>
                    </div>
                </div>

       
            </div>


        </div>
    </section><!--/.recent-news-area-->


{% endblock %}
