{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block meta %}

<title>TURKKAB - {{ proje.proje_name }} </title>
<meta name="description" content="TURKAB, Türk Kadın Akademisyenler Birliğinin {{ proje.proje_name }} projesini açıklayan sayfadır.">

{% endblock %}

{% block body %}


<div class="blog-detail-body mt100 pdb90">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="blog-list-item">
                        <div class="image">
                            <img src="{% static 'mainapp/images/turkkab-makale-resim.png' %}" class="img-responsive" alt="blog image">
                        </div>
                        <div class="meta-box">
                            <span class="date">{{ proje.proje_tarihi }}<i class="fa fa-dot-circle-o"></i></span>
                        </div>
                        <h3>{{ proje.proje_name }}</h3>
                        <div class="blog-list-text">
                            {{ proje.proje_icerik | safe }}
                        </div>
                    </div><!--/.blog-list-item-->

      
                </div>
                <div class="col-md-3">
                    <div class="sidebar">
                   
                        <aside class="blog-page-popular-post">
                            <div class="border-heading">
                                <h4>Son Projeler</h4>
                            </div>
                            <div class="row">

                                {% for proje in ucproje %}
                                <div class="col-md-12">
                                    <div class="popular-post">
                                        <div class="image">
                                            <img src="{% static 'mainapp/images/turkkab-makale-resim.png' %}" class="img-responsive" alt="causes">
                                        </div>
                                        <div class="meta-box">
                                            <span class="date">{{ proje.proje_tarihi }}<i class="fa fa-dot-circle-o"></i></span>
                                        </div>
                                        <h5><a href="{% url 'projedetay' projeslug=proje.proje_slug %}">{{ proje.proje_name }}</a></h5>
                                        <p>{{ proje.proje_icerik |safe|truncatechars_html:50|linebreaks }}</p>
                                    </div><!--/.popular-post -->
                                </div>
                                {% endfor %}
                            </div>
                        </aside>
                
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}