{% extends 'mainapp/components/layout.html' %}
{% load static %}

{% block meta %}

<title>TURKAB - Üyelik Başvurusu </title>
<meta name="description" content="TURKAB, Türk Kadın Akademisyenler Birliğine üyelik başvurusu yapılan üyelik formunun bulunduğu sayfadır.">

{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="comment-box text-center">
          <div class="border-heading">
              <h4>ÜYELİK BAŞVURUSU</h4>
          </div>
          <form method="POST">
              {% csrf_token %}

              <div class="row">
                  <div class="col-sm-12 name-parent">
                      <div class="single-input-box">
                          <input class="form-control" name="adsoyad" placeholder="Adınız ve Soyadınız" type="text" required>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 name-parent">
                      <div class="single-input-box">
                          <input class="form-control" name="dogumyerivetarihi" placeholder="Doğum Tarihi ve Yeri" type="text" required>
                      </div>
                  </div>
                  <div class="col-sm-6 email-parent">
                      <div class="single-input-box">
                          <input class="form-control" name="tckimlikno" placeholder="TC Kimlik Numarası" type="text" required>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 name-parent">
                      <div class="single-input-box">
                          <input class="form-control" name="kurum" placeholder="Çalıştığı Kurum(Fakülte/Enstitü,Bölüm, Anabilim Dalı)" type="text" required>
                      </div>
                  </div>
                  <div class="col-sm-6 email-parent">
                      <div class="single-input-box">
                          <input class="form-control" name="uzmanlik" placeholder="Uzmanlık Alanı" type="text" required>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 name-parent">
                      <div class="single-input-box">
                          <input class="form-control" name="meslekiunvan" placeholder="Mesleki Ünvan" type="text" required>
                      </div>
                  </div>
                  <div class="col-sm-6 email-parent">
                      <div class="single-input-box">
                          <input class="form-control" name="telefonnumarasi" placeholder="Telefon Numarası" type="text" required>
                      </div>
                  </div>
              </div>
              <br>
              <div style="display : flex; justify-content: flex-start; align-items:flex-start; flex-direction: column;">
                <a style="color : #48A4AA;" href="{% static 'mainapp/documents/uyelik-basvuru-formu.docx' %}" download>Başvuru Formunu Buraya Tıklayarak İndirebilirsiniz.</a>
                <p> * Üyelik başvurusunda bulunanlar, Üyelik Başvuru Formu ile birlikte Birlik
                    Sözleşmesini de imzalayarak tarafımıza göndereceklerdir.</p>
              </div>
                
              <button class="sune-btn" type="submit">BAŞVUR</button>
          </form>
          <br>
      </div>

    </div>
  </div>
</div>




{% endblock %}
